body{
  font-family: 'Roboto', sans-serif;
}

:root{
  --nav-gray:rgb(248, 249, 250);
  --nav-white:rgb(255, 255, 255);
  --sidebar-bluedark:rgb(5, 30, 52);
  --boolean-bar:rgb(27, 114, 232);
  --bottom-blue-dark:rgb(22, 91, 186);
}

.debug{
  background-color: rgba(0, 255, 255, 0.24);
  min-height: 50px;
}

.debug2{
  background-color: rgba(255, 0, 0, 0.233);
  min-height: 50px;
}

.nav-bar{
  background-color: var(--nav-gray);
}

img{
  width: 100%;
  height: 100%;
}

.sidebar{
  width: 80px;
  background-color: black;
  height: calc(100vh - 80px);
  color: white;
}

.sidebar-top{
  height: 80%;
}

.sidebar-bottom{
  height: 20px;
}

.content-small{
  height: calc(100vh - 90px);
  width: ;
}