body{
  font-family: 'Roboto', sans-serif;
}

[class^='col']{
  background-color: darkgrey;
  border: 1px solid white;
  min-height: 20px;
  min-width: 20px;
}

:root{
  --nav-gray:rgb(248, 249, 250);
  --nav-white:rgb(255, 255, 255);
  --sidebar-bluedark:rgb(5, 30, 52);
  --boolean-bar:rgb(27, 114, 232);
  --bottom-blue-dark:rgb(22, 91, 186);
}

li{
  list-style: none;
}

.debug{
  background-color: rgba(255, 0, 0, 0.39);
  min-height: 50px;
}

.debug2{
  background-color: rgb(17, 99, 206);  
}

.debug3{
  background-color: rgba(7, 243, 78, 0.541);  
}

.debug4{
  background-color: rgba(255, 155, 4, 0.774); 
  border: 1px solid white; 
}

.table tbody th img:first-child{
  width: 25px;
  height: 25px;
}

table{
  font-size: 0.9rem;
}


.th_space{
  width: 100px;
}

.bg-gray{
  background-color: var(--boolean-bar);
}

.nav_bar_vv{
height: 80px;
}

.image_nav{
  width: 40%;
  height: 40%;
}

img{
  width: 100%;
  height: 100%;
}


main{
  height: calc(100vh - 80px);
}


aside{
  width: 80px;
  color: white;
}

aside a{
  color: white;
}

.menu_v{
  padding: 0;
  margin: 0;
}

.menu_v li{
  padding: 5px 0;
}

aside li a i,i{
  font-size: 1.2rem;
}


.box_content{
  width: calc(100vw - 80px);
}

.offcanvas.offcanvas-big{
  width: 100%;
}

.image-table{
  width: 25px;
  height: 25px;
}

@media screen and (min-width:1200px) {
  aside{
    width: 160px;
    color: white;
  }

  .offcanvas.offcanvas-big{
    width: 40%;
  }


}